@import "compass";

.bold {
	font-weight: bold;
}

.yams-portlet {	
	.taglib-search-toggle {
		box-shadow: 0 0 8px #cecece inset;
		border-radius: 4px;
		padding: 5px 5px 2px;
		background: #E8EAEB;
		border: 1px solid #979798;
		border-color: #979798 #FAFAFB #FAFAFB #BDBDBE;
	}
	
	dt {font-weight:bold;}
	
	.details {
		img {float:left;}
		dl {
			position: relative;
			left: 20px;
		}
		dd {
			position: relative;
			left: 5px;
		}
	}
	
	/* Account Management Styles */
	.active-step {
		background-color: #FFC;
		border: 2px solid #FC0;
		padding-left: 2px;
	}
	.add-account-instructions-text {
		font-size: 1.2em;
		padding-left: 10px;
/* 		max-width: 175px; */
	}
	
	.step2-input .aui-field-content .aui-field-label {
		display: block;
	}
	
	.domain {
		position: relative;
		top: 7px;
	}
	
	.padded-div {
		padding: 5px 0;
	}
	
	.permissions {
		
		.aui-fieldset {
			border: 1px solid #C8C9CA;
			border-radius: 4px;
			margin-right: 15px;
			width: 250px;
		}
	}
	
	.aui-button-holder {
		padding-top: 15px;
		padding-left: 15px;
	
		.step {
			padding-top: 10px;
		}
	}
	
	.lfr-portlet-toolbar {
	
		margin-bottom: 20px;
	
		.import-button a {
			background-image: url(/html/themes/control_panel/images/common/maximize.png);
		}
		.add-user-button a {
			background-image: url(/html/themes/control_panel/images/common/add_user.png);
		}
	}
	
	.edit-password {
		min-width: 250px;
	}
	
	.import-accounts {
		min-width: 650px;
	
		.header-values,
		.instructions,
		.statistics {
			padding-bottom: 15px;
		}
		
		.statistics {
			.aui-column {
				min-width: 135px;
				min-height: 90px;
				border: 1px solid #C8C9CA;
				border-radius: 4px;
				margin: 20px 10px 10px 10px;
				text-align: center;
				font-size: 1.3em;
				
				.aui-column-content {
					margin-top: 20px;
				}
				
				.aui-button {
					display: block;
					font-size: .8em;
				}
			}
		}
	}
	
}

